<section class="bg-white p-4 space-y-3 shadow-md rounded-md">
    <h2 class="font-bold text-xl">Badya University</h2>
    <form class="space-y-5" (ngSubmit)="onSubmit()" [formGroup]="userForm">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
            <div [ngClass]="isSubmitForm ? userForm.controls['name'].errors ? 'has-error' : 'has-success' : ''">
                <label for="name">Name <span class="font-bold text-red-500">*</span></label>
                <input id="name" name="name" type="text" placeholder="Name" class="form-input" formControlName="name">
                <ng-container *ngIf="isSubmitForm && !userForm.controls['name'].errors">
                    <p class="mt-1 text-[#1abc9c]">Looks Good!</p>
                </ng-container>
                <ng-container *ngIf="isSubmitForm && userForm.controls['name'].errors">
                    <p class="mt-1 text-danger">Name is required.</p>
                </ng-container>
            </div>
            <div [ngClass]="isSubmitForm ? userForm.controls['phoneNumber'].errors ? 'has-error' : 'has-success' : ''">
                <label for="phoneNumber">Phone number <span class="font-bold text-red-500">*</span></label>
                <input id="phoneNumber" name="phoneNumber" type="tel" placeholder="Phone number" class="form-input"
                    formControlName="phoneNumber">
                <ng-container *ngIf="isSubmitForm && !userForm.controls['phoneNumber'].errors">
                    <p class="mt-1 text-[#1abc9c]">Looks Good!</p>
                </ng-container>
                <ng-container *ngIf="isSubmitForm && userForm.controls['phoneNumber'].errors">
                    <p class="mt-1 text-danger" *ngIf="userForm.controls['phoneNumber'].errors?.['required']">Phone
                        number is required.</p>
                    <p class="mt-1 text-danger" *ngIf="userForm.controls['phoneNumber'].errors?.['pattern']">please
                        enter a number made from 11 digits.</p>
                </ng-container>
            </div>
            <div>
                <label for="whatsAppNumber">WhatsApp Number</label>
                <input id="whatsAppNumber" name="whatsAppNumber" type="text" placeholder="WhatsApp Number"
                    class="form-input" formControlName="whatsAppNumber">
            </div>
            <div [ngClass]="isSubmitForm ? userForm.controls['typeOfCall'].errors ? 'has-error' : 'has-success' : ''">
                <label for="typeOfCall">Type of Call <span class="font-bold text-red-500">*</span></label>
                <select id="typeOfCall" name="typeOfCall" class="form-select" formControlName="typeOfCall"
                    aria-label="type of call">
                    <option value="" disabled selected>Type of Call</option>
                    <option value="Outgoing">Outbound Calls</option>
                    <option value="Incoming">Inbound Calls</option>
                </select>
                <ng-container *ngIf="isSubmitForm && !userForm.controls['typeOfCall'].errors">
                    <p class="mt-1 text-[#1abc9c]">Looks Good!</p>
                </ng-container>
                <ng-container *ngIf="isSubmitForm && userForm.controls['typeOfCall'].errors">
                    <p class="mt-1 text-danger">Type of Call is required.</p>
                </ng-container>
            </div>
            <div [ngClass]="isSubmitForm ? userForm.controls['callStatus'].errors ? 'has-error' : 'has-success' : ''">
                <label for="callStatus">Call Status <span class="font-bold text-red-500">*</span></label>
                <select id="callStatus" name="callStatus" class="form-select" formControlName="callStatus"
                    aria-label="call status">
                    <option value="" disabled selected>Call Status</option>
                    <option value="Follow Up">Follow Up</option>
                    <option value="Handled">Handled</option>
                    <option value="Call Dropped">Call Dropped</option>
                    <option value="Abandoned">Abandoned</option>
                    <option value="Timeout">Timeout</option>
                    <option value="Connection error">Connection error</option>
                    <option value="No Answer">No Answer</option>
                </select>
                <ng-container *ngIf="isSubmitForm && !userForm.controls['callStatus'].errors">
                    <p class="mt-1 text-[#1abc9c]">Looks Good!</p>
                </ng-container>
                <ng-container *ngIf="isSubmitForm && userForm.controls['callStatus'].errors">
                    <p class="mt-1 text-danger">Call Status is required.</p>
                </ng-container>
            </div>
            <div [ngClass]="isSubmitForm ? userForm.controls['followUp'].errors ? 'has-error' : 'has-success' : ''">
                <label for="followUp">Follow Up <span class="font-bold text-red-500">*</span></label>
                <select id="followUp" name="followUp" class="form-select" formControlName="followUp"
                    aria-label="follow up">
                    <option value="" disabled selected>Follow Up</option>
                    <option value="Need Answer">Need Answer</option>
                    <option value="Don't Need Answer">Don't Need Answer</option>
                </select>
                <ng-container *ngIf="isSubmitForm && !userForm.controls['followUp'].errors">
                    <p class="mt-1 text-[#1abc9c]">Looks Good!</p>
                </ng-container>
                <ng-container *ngIf="isSubmitForm && userForm.controls['followUp'].errors">
                    <p class="mt-1 text-danger">Follow Up is required.</p>
                </ng-container>
            </div>
            <div [ngClass]="isSubmitForm ? userForm.controls['callerType'].errors ? 'has-error' : 'has-success' : ''">
                <label for="callerType">Caller Type <span class="font-bold text-red-500">*</span></label>
                <select id="callerType" name="callerType" class="form-select" formControlName="callerType"
                    aria-label="caller type">
                    <option value="" disabled selected>Caller Type</option>
                    <option value="Student">Student</option>
                    <option value="Parent">Parent</option>
                    <option value="Others">Others</option>
                </select>
                <ng-container *ngIf="isSubmitForm && !userForm.controls['callerType'].errors">
                    <p class="mt-1 text-[#1abc9c]">Looks Good!</p>
                </ng-container>
                <ng-container *ngIf="isSubmitForm && userForm.controls['callerType'].errors">
                    <p class="mt-1 text-danger">Caller Type is required.</p>
                </ng-container>
            </div>
            <div>
                <label for="city">City</label>
                <select id="city" name="city" class="form-select" formControlName="city" aria-label="city">
                    <option value="" disabled selected>City</option>
                </select>
            </div>
            <div>
                <label for="school">School</label>
                <select id="school" name="school" class="form-select" formControlName="school" aria-label="school">
                    <option value="" disabled selected>School</option>
                </select>
            </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            <div>
                <label for="percentage">Percentage</label>
                <input id="percentage" name="percentage" type="text" placeholder="Percentage" class="form-input"
                    formControlName="percentage">
            </div>
            <div>
                <label for="certificateType">Certificate Type</label>
                <select id="certificateType" name="certificateType" class="form-select"
                    formControlName="certificateType" aria-label="certificate type">
                    <option value="" disabled selected>Certificate Type</option>
                </select>
            </div>
            <div
                [ngClass]="isSubmitForm ? userForm.controls['askedQuestions'].errors ? 'has-error' : 'has-success' : ''">
                <label for="askedQuestions">Asked Questions <span class="font-bold text-red-500">*</span></label>
                <ng-select [items]="options" id="input6" formControlName="askedQuestions" [multiple]="true"
                    [clearable]="false" placeholder="Select an option" class="custom-multiselect">
                </ng-select>
                <ng-container *ngIf="isSubmitForm && !userForm.controls['askedQuestions'].errors">
                    <p class="mt-1 text-[#1abc9c]">Looks Good!</p>
                </ng-container>
                <ng-container *ngIf="isSubmitForm && userForm.controls['askedQuestions'].errors">
                    <p class="mt-1 text-danger">Asked Questions is required.</p>
                </ng-container>
            </div>
        </div>
        <div [ngClass]="isSubmitForm ? userForm.controls['answer'].errors ? 'has-error' : 'has-success' : ''">
            <label for="answer">Answer <span class="font-bold text-red-500">*</span></label>
            <textarea id="answer" name="answer" placeholder="Answer" rows="5" class="form-input"
                formControlName="answer"></textarea>
            <ng-container *ngIf="isSubmitForm && !userForm.controls['answer'].errors">
                <p class="mt-1 text-[#1abc9c]">Looks Good!</p>
            </ng-container>
            <ng-container *ngIf="isSubmitForm && userForm.controls['answer'].errors">
                <p class="mt-1 text-danger">Answer is required.</p>
            </ng-container>
        </div>
        <div>
            <label for="notes">Notes</label>
            <textarea id="notes" name="notes" placeholder="Notes" rows="5" class="form-input"
                formControlName="notes"></textarea>
        </div>
        <button type="submit" class="btn btn-primary !mt-6">Save</button>
    </form>
</section>